name: hue_rotation_example

description: Demonstrates how to use the hue_rotation package.

version: 1.0.0+1

publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  hue_rotation:
    path: ../

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
